@charset "UTF-8";
body {
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1; }

* {
  font-family: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: black; }

article {
  display: flex;
  align-items: flex-end;
  background-color: white; }

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column; }

b {
  font-weight: bold; }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none; }

button {
  margin: 0;
  padding: 0; }

div,
section,
header {
  text-decoration: none; }

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none; }

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white; }

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none; }

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

p::first-letter {
  font-style: unset; }

section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none; }

/* BASE */
html {
  width: 100%; }

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: white; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

* {
  font-family: "Roboto", Arial, "Arial Black", Courier New, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

article {
  display: flex;
  align-items: flex-end;
  background-color: white; }

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column; }

b {
  font-weight: bold; }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: ""; }

button {
  margin: 0;
  padding: 0; }

div,
section,
header {
  text-decoration: none; }

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none; }

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white; }

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none; }

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

p::first-letter {
  font-style: unset; }

section {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

body {
  font-family: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  color: #9356dc;
  font-size: 2.5rem; }

/* 2 HEADING */
/* 2.2 | HEADING: LOGO */
.logo__big {
  width: 41%;
  border-radius: 0; }

#location {
  width: 150px;
  font-size: 2rem;
  background-color: #dddddd;
  border: none; }

.book__text--first {
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-bottom: 20px;
  font-size: 3.2rem;
  font-weight: 900; }

.book__text--second {
  width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-bottom: 30px;
  font-weight: 400; }

.btn__first {
  width: 60%;
  height: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px #dddddd;
  background: linear-gradient(175deg, #ff79da, #9356dc), linear-gradient(-5deg, #ff79da, #9356dc); }

.btn__explo--color {
  color: white;
  position: relative;
  top: -5px;
  padding: 1%; }

.heading__second {
  width: 100%;
  padding-left: 7%;
  padding-right: 5%; }

.heading__second__title {
  padding: 40px 0 20px 0;
  text-indent: -10px;
  color: black;
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.1rem; }

.heading__second__functioning {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.functioning__btn {
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  margin: 10px; }

.point {
  width: 50px;
  color: white;
  background-color: #9356dc;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 1.6;
  position: relative;
  left: -15px; }

.point--last {
  width: 40px;
  color: white;
  background-color: #9356dc;
  border-radius: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 1.6;
  position: relative;
  left: -15px; }

.functioning__btn__txt--only {
  color: black;
  margin: 5px; }

.functioning__btn__txt {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  color: black;
  background-color: #eeeeee;
  margin: 10px; }

.functioning__btn--lighten {
  width: 100%;
  height: 60px;
  background-color: rgba(147, 86, 220, 0.1);
  /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  margin: 10px 10px 40px 10px; }

.text__position {
  width: 75%;
  display: block; }
  .text__position__bold {
    font-size: 2rem;
    font-weight: 900; }
  .text__position__thin {
    font-size: 2rem;
    font-weight: 300; }

.icone__position {
  width: 15%;
  display: block; }

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: 30px 0;
  color: white;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.text-transf {
  font-family: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: white;
  padding: 20px 0; }

/*.icone--length {
}*/
ul {
  padding-bottom: 40px; }

.nav__link {
  padding: 5px 0; }

.text--length {
  padding-left: 10px;
  font-size: 1.6rem; }

.footer__text--color {
  color: white;
  font-size: 1.6rem; }

/* Container for the two first cards*/
.card__sticker__over {
  width: 23%;
  height: 30px;
  position: relative;
  bottom: 285px;
  left: 72%;
  line-height: 2;
  font-family: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1b6150;
  background-color: #99e2d0;
  border-radius: 2px; }

figure {
  object-fit: cover;
  border-radius: 17px;
  background-color: white; }

.card__sticker__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden; }

.card__free {
  width: 100%; }

.card__free__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden; }

.img__index {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* 1.3 | HEADING ICONES PROPERTIES */
.fas::before {
  font-family: "Font Awesome 5 Free"; }

.fas.fa-map-marker-alt {
  width: 50px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: black;
  background-color: #dddddd;
  font-size: 2.5rem; }

.fas ::after {
  font-family: "Font Awesome 5 Free"; }

.fas.fa-mobile-alt {
  width: 50px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  color: #aaaaaa;
  background-color: #eeeeee;
  font-size: 24px; }

.fas.fa-list-ul {
  width: 50px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  color: #aaaaaa;
  background-color: #eeeeee;
  font-size: 2.5rem; }

.fas.fa-store {
  padding: 0 2.5% 0 1%; }

.fas.fa-heart {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  line-height: 2;
  font-weight: 900;
  color: #9356dc;
  background-color: white;
  font-size: 2.5rem; }

.far.fa-heart {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: #9356dc;
  background-color: white;
  font-size: 2.5rem; }

/* 1.5 | FOOTER ICONES PROPERTIES */
.fas.fa-utensils {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  background-color: #404040;
  font-size: 1.6rem; }

.fas.fa-hands-helping {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  background-color: #404040;
  font-size: 1.6rem; }

/* 1.2 | ANIMATIONS */
/* CONTAINERS */
/* REUSABLE */
.flex-c-nw {
  display: flex;
  flex-flow: column nowrap; }

.flex-c-w {
  display: flex;
  flex-flow: column wrap; }

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap; }

.flex-r-w {
  display: flex;
  flex-flow: row wrap; }

.header__logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px 0; }

.block__high--grey {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #cccccc, #dddddd 10%); }

form {
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.book {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 40px 0;
  background-color: #eeeeee; }

main {
  height: auto;
  background-color: #dddddd; }

.cont {
  height: auto;
  padding: 0 5% 60px 5%; }

.cont__title {
  padding: 30px 0;
  font-size: 3.2rem;
  color: black; }

.cont__card__free {
  gap: 30px; }

#display-first {
  display: flex;
  justify-content: center; }

#display-second {
  display: flex;
  justify-content: center; }

#display-third {
  display: none;
  justify-content: center; }

#display-forth {
  display: none;
  justify-content: center; }

figcaption {
  height: 110px; }

.layout {
  background-color: white;
  border-radius: 17px;
  padding: 7% 0 0 4%; }

footer {
  height: auto;
  padding-left: 5%;
  background: #404040; }

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }

  .text-transf {
    display: flex;
    justify-content: center; }

  /*.icone--length {
  }*/
  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }

  .text--length {
    padding-left: 0;
    font-size: 1.6rem; }

  .footer__text--color {
    font-size: 1.6rem; } }

/*# sourceMappingURL=main.css.map */
