/* PROJECT 3 : "Ohmyfood" */

/* INDEX

1 || GLOBAL SETTINGS
    1.1 | GENERAL PAGE LAYOUT
    1.2 | ANIMATIONS
    1.3 | HEADING ICONES PROPERTIES
    1.4 | MAIN ICONES PROPERTIES
    1.5 | FOOTER ICONES PROPERTIES

2 || DESKTOP LAYOUT
    2.1 | MAIN CONTAINER
        2.1.1 | HEADING  : LOADER
        2.1.2 | HEADING : LOGO
        2.1.3 | HEADING : SEARCH
        2.1.4 | HEADING : EXPLORE
        2.1.5 | HEADING : FUNCTIONING
        2.1.6 | MAIN : FIRST CARD
        2.1.7 | MAIN : SECOND CARD
        2.1.8 | MAIN : THIRD CARD
        2.1.9 | MAIN : FORTH CARD
        2.2.1 | FOOTER

3 || MEDIA QUERIES SPECIFIC RULES
    3.1 | TABLET MEDIA QUERY
    3.2 | DESKTOP MEDIA QUERY


Tip: you can jump to a specific section by searching for index name or id. ex : [CTRL + F] "3 ||" or [CTRL + F] "2.1.5 |"

*/

/* 1 || GLOBAL SETTINGS */

/* 1.1 | GENERAL PAGE LAYOUT */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, "Arial Black", Courier New, Helvetica,
    sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

article {
  display: flex;
  align-items: flex-end;
  background-color: white;
}

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column;
}

b {
  font-weight: bold;
}

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: lavender;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

p::first-letter {
  font-style: unset;
}

section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none;
}

/* REUSABLE */

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}

.flex-c-w {
  display: flex;
  flex-flow: column wrap;
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

.flex-r-w {
  display: flex;
  flex-flow: row wrap;
}

/* 1.2 | ANIMATIONS */

figure {
  width: 600px;
  height: auto;
  transition: transform ease-in-out 0.3s;
}
figure:hover {
  transform: scale(1.1);
}

/* 1.3 | HEADING ICONES PROPERTIES */

.fas.fa-map-marker-alt {
  width: 50px;
  height: 32px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: #000;
  background-color: lightgray;
  font-size: 24px;
  
}

.fas.fa-heart {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  color: purple;
  background-color: #fff;
  font-size: 24px;
}

/* 2.1.1 | HEADING: LOGO */

.header__logo {
display: flex;
flex-flow: column nowrap;
align-items: center;
}

.logo--big {
  width: 35%;
  border-radius: 0;
}

/* 2.1.3 | HEADING : SEARCH */

form {
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#location {
  font-size: 24px;
}

/* 2.1.4 | HEADING : EXPLORE */

.book {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.button__first {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0 60px 0;
}

/* 2.1.5 | HEADING : FUNCTIONING */

.heading__second__title {
  padding-left: 5%;
}

.heading__second__functioning{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* 2.1.6 | MAIN */

main {
  width: 100%;
  height: auto;
  background-color: lightgray;
}

/* MARGINS MAIN */

.cont {
  width: 100%;
  height: auto;
  padding: 0 5% 60px 5%;
}

/* 2.1.6 | MAIN : TITLE */

.cont__title {
  padding: 30px 0 15px 0;
}

/* 2.1.6 | MAIN : FIRST CARD */

/* Layout between block and cards */

.cont__big__block {
  gap: 20px;
}

.cont__cards__sticker {
  gap: 20px;
}

.cont__cards__free {
  gap: 20px;
}


/* Pictures in the cards */

figure {
  width: auto;
  height: 28vh;
  object-fit: cover;
  border-radius: 17px;
  background-color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}

.card__sticker__img {
  width: 100%;
  height: calc(100% - 80px);
  /* display: flex; */
  /* align-content: center; */
  /* justify-content: center; */
}

.card__free__img {
  width: 100%;
  height: calc(100% - 80px);
  /* display: flex; */
  /* align-content: center; */
  /* justify-content: center; */
}



/* Option if you want to display or not the "Nouveau" sticker in the future */

#display-first {
  display: none;
}

#display-second {
  display: none;
}

#display-third {
  display: none;
}

#display-forth {
  display: none;
}

/* Border-radius of the cards (figcaptions) */

.layout {
  background-color: #fff;
}

/* Position of the text in the cards (figcaptions) */

.text__position {
  width: 75%;
  display: block;
}

.icone__position {
  width: 15%;
  display: block;
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  background-color: darkgray;
  overflow: hidden;
}

.logo--little {
  width: 25%;
  border-radius: 0;
}

.icone--length {
  width: 5%;
}

.text--length {
  width: 95%;
  padding-left: 50px;
}

.footer__text--color {
  color: #fff;
}