/* PROJECT 3 : "Ohmyfood" */

/* INDEX

1 || GLOBAL SETTINGS
    1.1 | GENERAL PAGE LAYOUT
    1.2 | ANIMATIONS
    1.3 | HEADING ICONES PROPERTIES
    1.4 | MAIN ICONES PROPERTIES
    1.5 | FOOTER ICONES PROPERTIES
    1.6 | CARDS STICKER

2 || DESKTOP LAYOUT
    2.1 | HEADING  : LOADER
    2.2 | HEADING : LOGO
    2.3 | HEADING : SEARCH
    2.4 | HEADING : EXPLORE
    2.5 | HEADING : FUNCTIONING
    2.6 | MAIN : FIRST CARD
    2.7 | MAIN : SECOND CARD
    2.8 | MAIN : THIRD CARD
    2.9 | MAIN : FORTH CARD
    2.10 | FOOTER

3 || MEDIA QUERIES SPECIFIC RULES
    3.1 | TABLET MEDIA QUERY
    3.2 | DESKTOP MEDIA QUERY


Tip: you can jump to a specific section by searching for index name or id. ex : [CTRL + F] "3 ||" or [CTRL + F] "2.1.5 |"

*/

/* 1 || GLOBAL SETTINGS */

    /* 1.1 | GENERAL PAGE LAYOUT */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, "Arial Black", Courier New, Helvetica, sans-serif;
  font-size: 100%;
}

/* Titre des restaurants => font-family: "Shrikhand", Arial, "Arial Black", Courier New, Helvetica, sans-serif; */

/* Button-sticker on card*/

.card__sticker__over {
  width: 23%;
  position: relative;
  top: -90px;
  left: 265px;
  font-size: 18px;
  color: green;
  background-color: rgba(153,226,208, 1.5);
}

/* 2 || DESKTOP LAYOUT */

    /* 2.1 | HEADING  : LOADER */
    /* 2.2 | HEADING: LOGO */

.header__logo {
display: flex;
flex-flow: column nowrap;
align-items: center;
margin: 20px 0;
}

.logo--big {
  width: 40%;
  border-radius: 0;
}

    /* 2.3 | HEADING : SEARCH */

form {
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#location {
  font-size: 24px;
}

    /* 2.4 | HEADING : EXPLORE */

.book {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #dddddd;
}

.btn__first {
  width: 60%;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px #dddddd;
  background: linear-gradient(175deg, #FF79DA, #9356DC ),
              linear-gradient(-5deg, #FF79DA, #9356DC);
}

    /* 2.5 | HEADING : FUNCTIONING */

.heading__second {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.heading__second__title {
  padding: 40px 0 20px 0;
  font-size: 26px;
}

.heading__second__functioning {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
}

.functioning__btn {
  width: 100%;
  height: 60px;
  /* background-color: #eeeeee; */
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
}

.functioning__btn--lighten {
  width: 100%;
  height: 60px;
  background-color: rgba(147,86,220, .1);
  /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
}

    /* 2.6 | MAIN */

main {
  width: 100%;
  height: auto;
  background-color: #dddddd;
}

    /* MARGINS MAIN */

.cont {
  width: 100%;
  height: auto;
  padding: 0 5% 60px 5%;
}

    /* MAIN : TITLE */

.cont__title {
  padding: 30px 0 15px 0;
  font-size: 26px;
}

    /* MAIN : FIRST CARD */

/* Layout between block and cards */

.cont__big__block {
  gap: 20px;
}

.cont__cards__sticker {
  gap: 20px;
}

.cont__cards__free {
  gap: 20px;
}


/* Pictures in the cards */

figure {
  width: auto;
  height: 28vh;
  object-fit: cover;
  border-radius: 17px;
  background-color: #fff;
}

#img-first {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: ;
  border-radius: 17px 17px 0px 0px;
}

#img-second {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: ;
  border-radius: 17px 17px 0px 0px;
}

#img-third {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: ;
  border-radius: 17px 17px 0px 0px;
}

#img-forth {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: ;
  border-radius: 17px 17px 0px 0px;
}

.card__sticker__img {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  /* align-content: center; */
  /* justify-content: center; */
}

.card__free__img {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  /* align-content: center; */
  /* justify-content: center; */
}



/* Option if you want to display or not the "Nouveau" sticker in the future */

#display-first {
  display: flex;
  justify-content: center;
}

#display-second {
  display: flex;
  justify-content: center;
}

#display-third {
  display: none;
  justify-content: center;
}

#display-forth {
  display: none;
  justify-content: center;
}

/* Border-radius of the cards (figcaptions) */

.layout {
  background-color: #fff;
}

/* Position of the text in the cards (figcaptions) */

.text__position {
  width: 75%;
  display: block;
}

.text__position__bold {
  font-size: 18px;
}

.text__position__thin {
  font-size: 16px;
  font-weight: ;
}

.icone__position {
  width: 15%;
  display: block;
}

/* 2.2.1 | FOOTER */

footer {
  width: 100%;
  height: auto;
  padding-left: 5%;
  background: #404040;
}

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: 30px 0;
  color: #fff;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

ul {
  padding-bottom: 40px;
}

.icone--length {
}

.text--length {
  padding-left: 10px;
}

.footer__text--color {
  color: #fff;
}