


@import './abstract/color';
@import './abstract/mixin';
@import './abstract/reset';
@import './abstract/size';
@import './abstract/typography';


// tests à effacer
// List ?
// $colors: ( mint: #15DEA5, navy: #001534, seafoam: #D6FFF5, white: #fff, rust: #DB464B );

// @each $color, $hex in $colors {
//   .btn--#{$color} {
//       background-color: $hex;
//   }
// }

// fin du test à effacer

// Standards

// $color-primary: #9356DC;
// $color-secondary: #FF79DA;
// $color-tertiary: #99E2D0;

// $color-invalid: #DB464B;

// $color-dark: #404040;
// $color-white: #fff;
// $color-black: #000;

// $lightest-grey: #eeeeee;
// $light-grey: #dddddd;
// $mid-grey: #cccccc;
// $darkest-grey: #aaaaaa;

// $icone-width-large: 50px;
// $icone-width-small: 20px;

// $padding-small: 10px;
// $padding-gap-normal: 20px;
// $padding-big: 40px;

// $icone-weight: 900;

// FONTS

// $font-family-primary: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
// // Titre des restaurants en Shrikhand=>
// $font-family-secondary: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;

// $font-size-primary: 2.5rem;
// $font-size-secondary: 2.2rem;
// $font-size-tertiary: 1.8rem;
// $font-size-quaternary: 1.6rem;

//MAIN FILE

/* BASE */

html {
  width: 100%;
}

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: $color-white;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: "Roboto", Arial, "Arial Black", Courier New, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }
  
article {
  display: flex;
  align-items: flex-end;
  background-color: $color-white;
}

article,
details,
hgroup,
menu {
display: flex;
margin: 0;
padding: 0;
display: block;
flex-direction: column;
}

b {
  font-weight: bold;
  }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: "";
}

button {
  margin: 0;
  padding: 0;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: $color-white;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

p::first-letter {
  font-style: unset;
}

section {
  // width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}


// BEM Specifics

body {
  font-family: $font-family-primary;
  color: $color-primary;
  font-size: $font-size-primary;
}

/* 2 HEADING */

// header {
//   width: 100%;
// }

/* 2.2 | HEADING: LOGO */

.logo__big {
  width: 41%;
  border-radius: 0;
}

// 2.3 | HEADING : SEARCH

#location {
  width: 150px;
  font-size: $font-size-inter-sec-ter;
  background-color: $light-grey;
  border: none;
}

// 2.4 | HEADING : EXPLORE

// Text before button

.book__text--first {
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: $color-black;
  padding-bottom: $padding-gap-normal;
  font-size: $font-size-xl;
  font-weight: $icone-weight;
  }
.book__text--second {
  width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: $color-black;
  padding-bottom: $padding-higher;
  font-weight: $weight-thin;
}

// Button

.btn__first {
  width: 60%; // use % or px
  height: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-gap-normal 0 $padding-gap-normal 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px $light-grey;
  background: linear-gradient(175deg, $color-secondary, $color-primary ),
              linear-gradient(-5deg, $color-secondary, $color-primary);
}

.btn__explo--color {
  color: $color-white;
  position: relative;
  top: -5px;
  padding: 1%;
}
  // 2.5 | HEADING : FUNCTIONING
    
.heading__second {
  width: 100%;
  padding-left: 7%;
  padding-right: 5%;
}

.heading__second__title {
  padding: $padding-big 0 $padding-gap-normal 0;
  text-indent: -10px;
  color: $color-black;
  font-size: $font-size-xl;
  font-weight: $icone-weight;
  letter-spacing: 0.1rem;
}

.heading__second__functioning {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

.functioning__btn {
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    border: none;
    border-radius: 17px;
    display: flex;
    align-items: center;
    margin: $padding-small;
  }

.point {
    width: 50px;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1.6;
    position: relative;
    left: -15px;
    }

.point--last {
    width: 40px;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1.6;
    position: relative;
    left: -15px;
      }

.functioning__btn__txt--only {
  color: $color-black;
  margin: $padding-small - 5px;
}

.functioning__btn__txt {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  color: $color-black;
  background-color: $lightest-grey;
  margin: $padding-small;
}

.functioning__btn--lighten {
    width: 100%;
    height: 60px;
    background-color: rgba(147,86,220, .1);
    /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
    border: none;
    border-radius: 17px;
    display: flex;
    align-items: center;
    margin: $padding-small $padding-small $padding-big $padding-small;
    }

// MAIN
// FIGCAPTIONS
// Position of the text and icones in the cards

.text__position {
  width: 75%;
  display: block;
  &__bold {
    font-size: $font-size-inter-sec-ter;
    font-weight: $icone-weight;
  }
  &__thin {
    font-size: $font-size-inter-sec-ter;
    font-weight: $weight-thiner;
  }
}

.icone__position {
  width: 15%;
  display: block;
}

// 2.2.1 | FOOTER

// Img logo of footer

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: $padding-higher 0;
  color: $color-white;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.text-transf {
  font-family: $font-family-secondary;
  font-size: $font-size-tertiary;
  color: $color-white;
  padding: 20px 0;
}

/*.icone--length {
}*/

ul {
  padding-bottom: $padding-big;
}

.nav__link {
  padding: 5px 0;
}

// Position and color of text
.text--length {
  padding-left: $padding-small;
  font-size: $font-size-quaternary;
}

.footer__text--color {
  color: $color-white;
  font-size: $font-size-quaternary;
}

/* Container for the two first cards*/

// .card__sticker {
  
// }

// Button-sticker on card

.card__sticker__over {
  width: 23%;
  height: $padding-higher;
  position: relative;
  bottom: 285px;
  left: 72%;
  line-height: 2;
  font-family: $font-family-primary;
  font-size: $font-size-quaternary;
  font-weight: 700;
  color: darken($color-tertiary, 50%);
  background-color: $color-tertiary;
  border-radius: 2px;
}

// CARDS

//  Original position of pictures 
// #img-first {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 17px 17px 0px 0px;
// } 

// Wrap the "wrap image"

figure {
  // height: 20vh;
  object-fit: cover;
  border-radius: 17px;
  background-color: $color-white;
}

// Wrap image

.card__sticker__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

.card__free {
  width: 100%;
}

.card__free__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

// Image itself

.img__index {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Sticker on card


// ICONES

    /* 1.3 | HEADING ICONES PROPERTIES */

    .fas::before {
      font-family: "Font Awesome 5 Free";
    }

    .fas.fa-map-marker-alt {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-black;
      background-color: $light-grey;
      font-size: $font-size-primary;
    }

    .fas ::after {
      font-family: "Font Awesome 5 Free";
    }

    .fas.fa-mobile-alt {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: $font-size-quaternary;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      font-size: 24px;
    }

    .fas.fa-list-ul {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: $font-size-quaternary;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      font-size: $font-size-primary;
    }
    
    .fas.fa-store {
      padding: 0 2.5% 0 1%;
    }
    
        // 1.4 | MAIN ICONES PROPERTIES

    // Solid heart
    .fas.fa-heart {
      width: $icone-width-large;
      height: 50px;
      display: flex;
      align-self: center;
      justify-content: center;
      line-height: 2;
      font-weight: $icone-weight;
      color: $color-primary;
      background-color: $color-white;
      font-size: $font-size-primary;
    }
    // Regular heart
    .far.fa-heart {
      width: $icone-width-large;
      height: 50px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-primary;
      background-color: $color-white;
      font-size: $font-size-primary;
    }
    
        /* 1.5 | FOOTER ICONES PROPERTIES */
    
    .fas.fa-utensils {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }
    
    .fas.fa-hands-helping {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }

    // ANIMATIONS
 
    /* 1.2 | ANIMATIONS */

    // figure {
    //   transition: transform ease-in-out 0.3s;
    // }
    // figure:hover {
    //   transform: scale(1.1);
    // }

      // CONTAINERS DISPLAYING

/* CONTAINERS */

// header {
//   width: 100%;
// }

/* REUSABLE */

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}

.flex-c-w {
  display: flex;
  flex-flow: column wrap;
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

.flex-r-w {
  display: flex;
  flex-flow: row wrap;
}

// 2.1 | HEADING  : LOADER

// 2.2 | HEADING: LOGO

// Wrap img (logo)

.header__logo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px 0;
      }

// 2.3 | HEADING : SEARCH

.block__high--grey {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, $mid-grey, $light-grey 10%);
}

form {
  // width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

// 2.4 | HEADING : EXPLORE

.book {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: $padding-big 0;
  background-color:  $lightest-grey;
}

// 2.6 | MAIN

main {
  // width: 100%;
  height: auto;
  background-color: $light-grey;
}
    
// MARGINS MAIN
    
.cont {
  // width: 100%;
  height: auto;
  padding: 0 5% 60px 5%;

}

// MAIN : TITLE

.cont__title {
  padding: $padding-higher 0;
  font-size: $font-size-xl;
  color: $color-black;
}

// Layout between card blocks and between cards

.cont__card__free {
  gap: $padding-higher;
}

// Option if you want to display or not the "Nouveau" sticker in the future

#display-first {
  display: flex;
  justify-content: center;
}

#display-second {
  display: flex;
  justify-content: center;
}

#display-third {
  display: none;
  justify-content: center;
}

#display-forth {
  display: none;
  justify-content: center;
}

// FIGCAPTIONS

// Border-radius of the cards

figcaption {
  height: 110px;
}

.layout {
  background-color: $color-white;
  border-radius: 17px;
  padding: 7% 0 0 4%;
}

// .layout--free {
//   padding-top: $padding-higher;
// }

// 2.1.1 FOOTER

footer {
  // width: 100%;
  height: auto;
  padding-left: 5%;
  background: $color-dark;
}

@media screen and (min-width: 768px) {
  // Img logo of footer

  // Element replaced
// .logo__little {
//   width: 28%;
//   border-radius: 0;
//   padding: $padding-higher 0;
//   color: $color-white;
//   -webkit-filter: invert(100%);
//   filter: invert(100%);
// }

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.text-transf {
  display: flex;
  justify-content: center;
}

/*.icone--length {
}*/

ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// Position and color of text

.text--length {
  padding-left: 0;
  font-size: $font-size-quaternary;
}

.footer__text--color {
  font-size: $font-size-quaternary;
}

}

@media screen and (min-width: 992px) {
  
}