


@import './abstract/_index';

//MY RESET IS IMPORTED SINCE 29/01/2022 => I didn't see any issues at this day.

// tests à effacer
// List ?
// $colors: ( mint: #15DEA5, navy: #001534, seafoam: #D6FFF5, white: #fff, rust: #DB464B );

// @each $color, $hex in $colors {
//   .btn--#{$color} {
//       background-color: $hex;
//   }
// }

// fin du test à effacer

//MAIN FILE

/* BASE */

html {
  width: 100%;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: "Roboto", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }
  
article {
  display: flex;
  align-items: flex-end;
  background-color: $color-white;
}

article,
details,
hgroup,
menu {
display: flex;
margin: 0;
padding: 0;
display: block;
flex-direction: column;
}

b {
  font-weight: bold;
  }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: "";
}

button {
  margin: 0;
  padding: 0;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: $color-white;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

p::first-letter {
  font-style: unset;
}

section {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}


// BEM Specifics

body {
  font-family: $font-family-primary;
  color: $color-primary;
  font-size: $font-size-primary;
}

/* 1 COVER THE BODY */

.body--cover {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  z-index: 100;
  opacity: 1;
  animation: uncover 4000ms 500ms forwards; /* cubic-bezier? */
  // animation: disappear 1000ms;
}

@keyframes uncover {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.3;
  }
  99% {
    opacity: 0;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

/* 2 HEADING */

// header {
//   width: 100%;
// }

/* 2.2 | HEADING: LOGO */

.logo__big {
  width: 41%;
  border-radius: 0;
}

// 2.3 | HEADING : SEARCH

#location {
  width: 177px;
  font-size: $font-size-inter-sec-ter;
  background-color: $light-grey;
  border: none;
  padding-left: 5px;
}

// 2.4 | HEADING : EXPLORE

// Text before button

.book__text--first {
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: $color-black;
  padding-bottom: $padding-gap-normal;
  font-size: $font-size-x;
  font-weight: $icone-weight;
  }

.book__text--second {
  width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  color: $color-black;
  padding-bottom: $padding-higher;
  font-size: 2.1rem;
  font-weight: $weight-thiner;
}

// Button

.btn__first {
  width: 60%;
  min-width: 250px;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-gap-normal 0 $padding-gap-normal 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px $light-grey;
  background: linear-gradient(175deg, $color-secondary, $color-primary ),
              linear-gradient(-5deg, $color-secondary, $color-primary);
}

.btn__explo--color {
  color: $color-white;
  padding: 0 3%;
  font-size: 2.1rem;
  font-weight: 400;
}
  // 2.5 | HEADING : FUNCTIONING
    
.heading__second {
  width: 100%;
  padding-left: 7%;
  padding-right: 5%;
}

.heading__second__title {
  padding: $padding-big 0 $padding-gap-normal 0;
  text-indent: -10px;
  color: $color-black;
  font-size: $font-size-x;
  font-weight: $icone-weight;
}

.heading__second__functioning {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

.functioning__btn {
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: $padding-small;
  }

.point {
    color: $color-white;
    background-color: transparent;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1.6;
    position: relative;
    left: -36px;
    font-size: $font-size-tertiary;
    }

.functioning__btn__txt {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  color: $color-black;
  background-color: $lightest-grey;
  margin: $padding-small;
  font-size: 1.9rem;
}

.functioning__btn__txt--lighten {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  color: $color-black;
  background-color: transparent;
  margin: $padding-small;
  font-size: 1.9rem;
}

.functioning__btn--lighten {
    width: 100%;
    height: 80px;
    background-color: rgba(147,86,220, .1);
    /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: $padding-small $padding-small $padding-big $padding-small;
    }

// MAIN
// FIGCAPTIONS
// Position of the text and icones in the cards

.text__position {
  width: 75%;
  display: block;
  &__bold {
    font-size: $font-size-inter-sec-ter;
    font-weight: $icone-weight;
  }
  &__thin {
    font-size: $font-size-inter-sec-ter;
    font-weight: $weight-thiner;
  }
}

.icone__position__h {
  width: 15%;
  display: block;
}

.icones__heart {
  width: $font-size-inter-sec-ter;
  height: $font-size-inter-sec-ter;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 5%;
  cursor: pointer;
}

.icone__h--empty {
  @include flex-as-jc-center;
  color: $color-black;
  font-size: 3rem;
}

.icone__h--full {
  @include flex-as-jc-center;
  position: relative;
  top: -28px; /* or ?% */
  color: $color-primary;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0);
  transition: all 400ms;
}

// HEART ON CLICK (FILL)

.icones__heart:active > .fas.fa-heart {
  opacity: 1;
  transform: scale(1);
}

// 2.2.1 | FOOTER

// Img logo of footer

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: $padding-higher 0;
  color: $color-white;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.text-transf--bott {
  font-family: $font-family-secondary;
  font-size: $font-size-tertiary;
  color: $color-white;
  padding: 20px 0;
}

/*.icone--length {
}*/

ul {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: $padding-big;
}

.nav__link {
  padding: 5px 0;
}

// Position and color of text
.text--length {
  padding-left: $padding-small;
  font-size: $font-size-quaternary;
}

.footer__text--color {
  color: $color-white;
  font-size: $font-size-quaternary;
}

/* Container for the two first cards*/

.card__sticker {
  width: 100%;
}

// Button-sticker on card

.card__sticker__over {
  // width: 20rem;
  padding: 0.7rem;
  min-width: 72px;
  max-width: 24%;
  // height: $padding-higher;
  position: relative;
  bottom: 260px;
  left: 68%;
  font-family: $font-family-primary;
  font-size: 1.8rem;
  font-weight: 700;
  color: darken($color-tertiary, 50%);
  background-color: $color-tertiary;
  border-radius: 2px;
}

// CARDS

//  Original position of pictures 
// #img-first {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 17px 17px 0px 0px;
// } 

// Wrap the "wrap image"

figure {
  // height: 20vh;
  object-fit: cover;
  border-radius: 17px;
  background-color: $color-white;
  width: 100%;
  box-shadow: 0 5px 9px $mid-grey;
}

// Wrap image

.card__sticker__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

.card__free {
  width: 100%;
}

.card__free__img {
  height: 200px;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

// Image itself

.img__index {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Sticker on card


// ICONES

    /* 1.3 | HEADING ICONES PROPERTIES */

    .fas::before {
      font-family: "Font Awesome 5 Free";
    }

    .fas ::after {
      font-family: "Font Awesome 5 Free";
    }

    .fas.fa-circle {
      width: 40px;
      display: flex;
      align-content: center;
      justify-content: center;
      line-height: 1.6;
      position: relative;
      left: -15px;
      font-size: $font-size-xl;
      color: $color-primary;
      background-color: transparent;
    }

    .fas.fa-map-marker-alt {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-black;
      background-color: $light-grey;
      font-size: $font-size-primary;
    }

    .fas.fa-mobile-alt {
      width: 50px;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: $font-size-tertiary;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      font-size: 24px;
      line-height: 1.3;
    }

    .fas.fa-list-ul {
      width: 50px;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: $font-size-tertiary;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      line-height: 1.7;
    }
    
    .fas.fa-store {
      // padding: 0 2.5% 0 2.5%;
      // font-size: $font-size-tertiary;
      // line-height: 1.5;
      width: 50px;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: $font-size-tertiary;
      font-weight: $icone-weight;
      font-size: 20px;
      line-height: 1.3;
    }
    
        // 1.4 | MAIN ICONES PROPERTIES

    // Solid heart
    .fas.fa-heart {
      @include flex-as-jc-center;
    }
    // Regular heart
    .far.fa-heart {
      @include flex-as-jc-center;
    }
    
        /* 1.5 | FOOTER ICONES PROPERTIES */
    
    .fas.fa-utensils {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }

    .fas.fa-hands-helping {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }

    // ANIMATIONS
 
    /* 1.2 | ANIMATIONS */

    .card__anim {
      transition: transform ease-in-out 0.3s;
    }
    .card__anim:hover {
      transform: scale(1.05);
    }

      // CONTAINERS DISPLAYING

/* CONTAINERS */

.container__big__block {
  display: flex;
  flex-flow: column nowrap;
}

.container__card__sticker {
  display: flex;
  flex-flow: column nowrap;
}

// FLEX

.flex__body {
  display: flex;
  flex-flow: column nowrap;
}

.flex__header {
  display: flex;
  flex-flow: column nowrap;
}

// FLEX REUSABLE

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}

.flex-c-w {
  display: flex;
  flex-flow: column wrap;
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

.flex-r-w {
  display: flex;
  flex-flow: row wrap;
}

// 2.1 | HEADING  : LOADER

.loading--animation {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  color: $color-white;
  text-align: center;
}

.load--anim--first {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: $color-primary;
}

.fas.fa-utensils.ut--loader {
  display: flex;
  align-items: center;
  justify-items: center;
  color: $color-white;
  background-color: $color-primary;
  font-size: 200px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 8px solid $darkest-grey;
  transform: rotate(5turn);
  transition: all 2000ms;
  animation: spinner 1500ms 500ms linear infinite;
}

.fas.fa-utensils.ut--loader::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 0.7;
  transform: rotate(5turn);
  transition: all 2000ms;
  animation: spinner 1000ms 500ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

// 2.2 | HEADING: LOGO

// Wrap img (logo)

.header__logo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px 0;
      }

// 2.3 | HEADING : SEARCH

.block__high--grey {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, $mid-grey, $light-grey 10%);
}

form {
  // width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

// 2.4 | HEADING : EXPLORE

.book {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: $padding-big 0;
  background-color:  $lightest-grey;
}

// 2.6 | MAIN

main {
  // width: 100%;
  height: auto;
  background-color: $light-grey;
}
    
// MARGINS MAIN

.container {
  // width: 100%;
  height: auto;
  padding: 0 5% 60px 5%;
}

// MAIN : TITLE

.container__title {
  padding: $padding-higher 0;
  color: $color-black;
  font-size: 2.6rem;
  font-weight: 900;
}

// Layout between card blocks and between cards

.container__card__free {
  display: flex;
  flex-flow: column nowrap;
  gap: $padding-higher;
}

// Option if you want to display or not the "Nouveau" sticker in the future

#display-first {
  display: flex;
  justify-content: center;
}

#display-second {
  display: flex;
  justify-content: center;
}

#display-third {
  display: none;
  justify-content: center;
}

#display-forth {
  display: none;
  justify-content: center;
}

// FIGCAPTIONS

// Border-radius of the cards

figcaption {
  height: 90px;
}

.layout {
  background-color: $color-white;
  border-radius: 17px;
  padding: 5.5% 0 5.5% 4%;
}

// 2.1.1 FOOTER

footer {
  // width: 100%;
  height: auto;
  padding-left: 5%;
  background: $color-dark;
}

// TABLET RULES

@media screen and (min-width: 768px) {
//  768px to 992px

  // Img logo of footer

  // Element replaced
// .logo__little {
//   width: 28%;
//   border-radius: 0;
//   padding: $padding-higher 0;
//   color: $color-white;
//   -webkit-filter: invert(100%);
//   filter: invert(100%);
// }

// HEADER TABLET

.book {
  display: flex;
  align-content: center;
}

.book__text--first {
  width: auto;
}
.book__text--second {
  width: auto;
}

.heading__second__title {
  align-self: center;
}

.functioning__btn {
  width: 56%;
}

.functioning__btn--lighten {
  width: 56%;
}

// MAIN TABLET

.card__sticker__img {
  height: 300px;
}

.card__sticker__over {
  bottom: 415px;
  line-height: 1;
  font-size: 2.8rem;
}

.card__free__img {
  height: 300px;
}

figcaption {
  height: 130px;
}

.btn__first {
  width: 40%;
}

.text__position__bold {
    font-size: 3rem;
}

.text__position__thin {
  font-size: 3rem;
}

// FOOTER TABLET

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.text-transf--bott {
  display: flex;
  justify-content: center;
  font-size: $font-size-x;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.fas.fa-utensils {
  font-size: 2rem;
  padding-right: 20px;
}

.fas.fa-hands-helping {
  font-size: 2rem;
  padding-right: 20px;
}

.text--length {
  padding-left: 0;
  font-size: $font-size-quaternary;
}

.footer__text--color {
  font-size: $font-size-secondary;
}

}

@media screen and (min-width: 992px) {
// 992px and over

  .flex__body {
    display: flex;
    flex-flow: row wrap;
  }

// HEADER DESKTOP

  .heading__all {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }

  .book {
    padding: 85px 0;
    height: 388px;
  }

  .btn__first {
    width: 70%;
    height: 65px;
  }

  .flex__header {
    width: 33.33%;
  }

  .heading__second__title {
    padding: 38px 0 20px 0;
  }

  .functioning__btn {
    width: 100%;
    height: 100px;
  }
  
  .functioning__btn--lighten {
    width: 100%;
    height: 100px;
  }

// MAIN DESKTOP

  main {
    background-color: $color-white;
  }

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 66.66%;
    padding: 35px 25px 0 25px;
  }

  .container__title {
    align-self: center;
  }

  .container__big__block {
    padding-bottom: 25px;
  }

  .container__card__sticker {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
  }

  .card__sticker__over {
    min-width: 105px;
    max-width: 35%;
    line-height: 1.3;
    font-size: $font-family-inter-prim-sec;
    left: 60%;
    bottom: 380px;
  }

  .container__card__free {
    display: flex;
    flex-flow: row nowrap;
  }

  figcaption {
    height: 100px;
  }

  .text__position__bold {
    font-size: $font-family-inter-prim-sec;
  }

  .text__position__thin {
    font-size: $font-family-inter-prim-sec;
  }

// FOOTER DESKTOP

  footer {
    width: 100%;
  }

  .text-transf--bott {
    font-size: $font-size-xl;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 175px;
    padding-right: 75px;
  }

// ANIMATIONS TABLET

// FILL HEARTS ON HOVER (FILL)

.icones__heart:hover > .fas.fa-heart {
  opacity: 1;
  transform: scale(1);
}

}
