


@import './abstract/color';
@import './abstract/mixin';
@import './abstract/reset';
@import './abstract/size';
@import './abstract/typography';


// tests à effacer
// List ?
// $colors: ( mint: #15DEA5, navy: #001534, seafoam: #D6FFF5, white: #fff, rust: #DB464B );

// @each $color, $hex in $colors {
//   .btn--#{$color} {
//       background-color: $hex;
//   }
// }

// fin du test à effacer

// Standards

// $color-primary: #9356DC;
// $color-secondary: #FF79DA;
// $color-tertiary: #99E2D0;

// $color-invalid: #DB464B;

// $color-dark: #404040;
// $color-white: #fff;
// $color-black: #000;

// $lightest-grey: #eeeeee;
// $light-grey: #dddddd;
// $mid-grey: #cccccc;
// $darkest-grey: #aaaaaa;

// $icone-width-large: 50px;
// $icone-width-small: 20px;

// $padding-small: 10px;
// $padding-gap-normal: 20px;
// $padding-big: 40px;

// $icone-weight: 900;

// FONTS

// $font-family-primary: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
// // Titre des restaurants en Shrikhand=>
// $font-family-secondary: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;

// $font-size-primary: 2.5rem;
// $font-size-secondary: 2.2rem;
// $font-size-tertiary: 1.8rem;
// $font-size-quaternary: 1.6rem;

//MAIN FILE

/* BASE */

// html {
//   width: 100%;
//   height: 100%;
// }

body {
  // width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: $color-white;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: "Roboto", Arial, "Arial Black", Courier New, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  }
  
article {
  display: flex;
  align-items: flex-end;
  background-color: $color-white;
}

article,
details,
hgroup,
menu {
display: flex;
margin: 0;
padding: 0;
display: block;
flex-direction: column;
}

b {
  font-weight: bold;
  }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: "";
}

button {
  margin: 0;
  padding: 0;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: $color-white;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  gap: 15px;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

p::first-letter {
  font-style: unset;
}

section {
  // width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}


// BEM Specifics

body {
  font-family: $font-family-primary;
  color: $color-primary;
  font-size: $font-size-primary;
}

/* 2 HEADING */

// header {
//   width: 100%;
// }

/* 2.2 | HEADING: LOGO */

.logo__big {
  width: 41%;
  border-radius: 0;
}

// 2.3 | HEADING : SEARCH

#location {
  font-size: $font-size-primary;
}

// 2.4 | HEADING : EXPLORE

.btn__first {
  width: 60%; // use px or more something stable
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-gap-normal 0 $padding-gap-normal 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px $light-grey;
  background: linear-gradient(175deg, $color-secondary, $color-primary ),
              linear-gradient(-5deg, $color-secondary, $color-primary);
}

  // 2.5 | HEADING : FUNCTIONING
    
.heading__second {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
    }
    
.heading__second__title {
  padding: $padding-big 0 20px 0;
  font-size: $font-size-primary;
}
    
.heading__second__functioning {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    
.functioning__btn {
      width: 100%;
      height: 60px;
      /* background-color: #eeeeee; */
      border: none;
      border-radius: 17px;
      display: flex;
      align-items: center;
      margin: $padding-small;
    }

    .point {
      max-width: 10%;
    }



.functioning__btn--lighten {
      width: 100%;
      height: 60px;
      background-color: rgba(147,86,220, .1);
      /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
      border: none;
      border-radius: 17px;
      display: flex;
      align-items: center;
      margin: $padding-small $padding-small $padding-big $padding-small;
    }
    

// MAIN
// FIGCAPTIONS
// Position of the text and icones in the cards

.text__position {
  width: 75%;
  display: block;
  &__bold {
    font-size: $font-size-tertiary;
  }
  &__thin {
    font-size: $font-size-quaternary;
  /*  font-weight: ;*/
  }
}

.icone__position {
  width: 15%;
  display: block;
}

// 2.2.1 | FOOTER

// Img logo of footer

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: 30px 0;
  color: $color-white;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*.icone--length {
}*/

ul {
  padding-bottom: $padding-big;
}

// Position and color of text
.text--length {
  padding-left: $padding-small;
}

.footer__text--color {
  color: $color-white;
}

/* Container for the two first cards*/

.card__sticker {
  width: 110%;
}

// Button-sticker on card

.card__sticker__over {
  width: 23%;
  position: relative;
  top: -70%;
  left: 70%;
  font-family: $font-family-primary;
  font-size: $font-size-tertiary;
  background-color: $color-tertiary;
  // background-color: darken($color-tertiary,50%);
  background-color: rgba(153,226,208, 1.5);
}

// CARDS

//  Original position of pictures 
// #img-first {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 17px 17px 0px 0px;
// } 

// Wrap the "wrap image"

figure {
  // width: 600px;
  max-width: 90%;
  // height: 28vh;
  object-fit: cover;
  border-radius: 17px;
  background-color: $color-white;
}

// Wrap image

.card__sticker__img {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  /* align-content: center; */
  /* justify-content: center; */
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

.card__free__img {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: flex-start;
  /* align-content: center; */
  /* justify-content: center; */
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
}

// Image itself

#img-first {
  width: 100%;
  height: 123%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  position: relative;
  top: 50%;
  transform: translate( 0, -60%);
}

#img-second {
  width: 100%;
  height: 130%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  position: relative;
  top: 50%;
  transform: translate( 0, -63%);
}

#img-third {
  width: 100%;
  height: 130%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  position: relative;
  top: 50%;
  transform: translate( 0, -63%);
}

#img-forth {
  width: 100%;
  height: 142%;
  /* height: 123%;  exactement conforme maquette*/
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
  position: relative;
  top: 50%;
  /* transform: translate( 0, -60%); exactement conforme maquette*/
  transform: translate( 0, -66%);
}

// Sticker on card


// ICONES

    /* 1.3 | HEADING ICONES PROPERTIES */

    .fas::before {
      font-family: "Font Awesome 5 Free";
    }

    .fas.fa-map-marker-alt {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-black;
      background-color: $light-grey;
      font-size: $font-size-primary;
    }

    .fas ::after {
      font-family: "Font Awesome 5 Free";
    }

    .fas.fa-mobile-alt {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      font-size: 24px;
    }

    .fas.fa-list-ul {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $darkest-grey;
      background-color: $lightest-grey;
      font-size: $font-size-primary;
    }
    
    .fas.fa-store {
      width: $icone-width-large;
      height: 32px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-primary;
       /* Pb à résoudre ici */ background-color: hsl(var($color-primary),calc(var(--l) - 10%)); 
      font-size: $font-size-primary;
    }
    
        // 1.4 | MAIN ICONES PROPERTIES

    // Solid heart
    .fas.fa-heart {
      width: $icone-width-large;
      height: 50px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-primary;
      background-color: $color-white;
      font-size: $font-size-primary;
    }
    // Regular heart
    .far.fa-heart {
      width: $icone-width-large;
      height: 50px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-primary;
      background-color: $color-white;
      font-size: $font-size-primary;
    }
    
        /* 1.5 | FOOTER ICONES PROPERTIES */
    
    .fas.fa-utensils {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }
    
    .fas.fa-hands-helping {
      width: $icone-width-small;
      height: 20px;
      display: flex;
      align-self: center;
      justify-content: center;
      font-weight: $icone-weight;
      color: $color-white;
      background-color: $color-dark;
      font-size: $font-size-quaternary;
    }

    // ANIMATIONS
 
    /* 1.2 | ANIMATIONS */

    figure {
      transition: transform ease-in-out 0.3s;
    }
    figure:hover {
      transform: scale(1.1);
    }

      // CONTAINERS DISPLAYING

/* CONTAINERS */

// header {
//   width: 100%;
// }

/* REUSABLE */

.flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}

.flex-c-w {
  display: flex;
  flex-flow: column wrap;
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

.flex-r-w {
  display: flex;
  flex-flow: row wrap;
}

// 2.1 | HEADING  : LOADER

// 2.2 | HEADING: LOGO

// Wrap img (logo)

.header__logo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 20px 0;
      }

// 2.3 | HEADING : SEARCH

form {
  // width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

// 2.4 | HEADING : EXPLORE

.book {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $light-grey;
}

// 2.6 | MAIN

main {
  // width: 100%;
  height: auto;
  background-color: $light-grey;
}
    
// MARGINS MAIN
    
.cont {
  // width: 100%;
  height: auto;
  padding: 0 5% 60px 5%;
}

// MAIN : TITLE

.cont__title {
  padding: 30px 0 15px 0;
  font-size: $font-size-primary;
}
// Layout between card blocks and between cards

.cont__big__block {
  gap: $padding-gap-normal;
}

.cont__cards__sticker {
  gap: $padding-gap-normal;
}

.cont__cards__free {
  gap: $padding-gap-normal;
}

// Option if you want to display or not the "Nouveau" sticker in the future

#display-first {
  display: flex;
  justify-content: center;
}

#display-second {
  display: flex;
  justify-content: center;
}

#display-third {
  display: none;
  justify-content: center;
}

#display-forth {
  display: none;
  justify-content: center;
}

// FIGCAPTIONS

// Border-radius of the cards

.layout {
  background-color: $color-white;
}

// 2.1.1 FOOTER

footer {
  // width: 100%;
  height: auto;
  padding-left: 5%;
  background: $color-dark;
}