


@import '../abstract/index';

// Page 1 "La Palette du goût"

// 1.0 LAYOUT

// 1.1 MAIN LAYOUT

* {
  font-size: 100%;
}

body {
  font-family: "Roboto", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  background-color: $lightest-grey;
}

.cont__palette {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
}

nav {
  display: flex;
  flex-flow: column nowrap;
}

.group__direction {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
  // padding-bottom: 60px;
}

.line__direction {
  display: flex;
  flex-flow: row nowrap;
}

.footer__line__direction {
  display: flex;
  flex-flow: column nowrap;
}

// 1.? LOGO LAYOUT

.header {
  height: 80px;
  padding: 15px 0;
}

// 1.2 TITLE LAYOUT

.layout__text-heart {
  min-width: 240px;
  max-width: 380px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.far.fa-heart {
  width: $icone-width-large;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  color: $color-black;
  background-color: $lightest-grey;
  font-size: $font-size-x;
  padding-left: 140%;
}

// 2.0 PICTURE

.cont__logo-picture {
  width: auto;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  }

.header__logo {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
}

.logo__big {
  width: 41%;
  border-radius: 0;
}

.cont__img-pages {
  width: 100%;
  height: 300px;
}

.img-pages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 3.0 BUTTONS

.btn__food {
    width: 93.5%; // use % or px
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $padding-gap-normal 0 $padding-gap-normal 0;
    border: none;
    border-radius: 18px;
    margin: 0 auto;
    border-color: transparent;
    box-shadow: 0px 6px 10px $light-grey;
    background-color: white;
}

// Two childs in .btn__food

.btn__food__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 3%;
  gap: 10px;
}

.price {
  display: flex;
  padding-right: 6%;
}

.price__amount {
  display: flex;
  align-items: flex-end;
  line-height: 0.3;
  font-size: 1.8rem;
  font-weight: 700;
}

// 4.0 TYPO
// Typo h1 h2 h3 h4

h1 {
  font-family: "Shrikhand", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

h2 {
  text-indent: 5%;
  height: 30px;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 4px solid $color-tertiary;
}

h3 {
  height: 20px;
  font-size: 2.2rem;
  font-weight: 700;
}

h4 {
  height: 20px;
  font-size: 1.8rem;
  font-weight: 400;
}