


@import '../abstract/index';

// \\ MENU PAGE \\ //

//////////////////////
//// MOBILE FIRST ////
//////////////////////

// 1.0 LAYOUT

// 1.1 MAIN LAYOUT

* {
  font-size: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  @include flex-c-nw;
}

.container__menu {
  width: 100%;
  height: auto;
  background-color: $lightest-grey;
  @include flex-c-nw;
}

.menu {
  position:relative;
  top: -57px;
  border-radius: $padding-bigger;
  background-color: $lightest-grey;
}

nav {
  @include flex-c-nw;
}

.group__direction {
  @include flex-c-nw;
  gap: 18px;
}

.line__direction {
  @include flex-r-nw;
}

.footer__line__direction {
  @include flex-c-nw;
}

// 1.2 LOGO LAYOUT

.header {
  height: 65px;
  padding-top: $padding-higher;
}

// 1.3 TITLE LAYOUT

.layout__text-heart {
  min-width: 240px;
  max-width: 380px;
  @include flex-jc-center;
  padding: $padding-bigger 0 $padding-higher 0;
}

.icones__heart {
  width: $font-size-inter-sec-ter;
  height: $font-size-inter-sec-ter;
  position: relative;
  top: -25px;
  left: 0;
  margin: 0 $marg-paddg-perct-stdrt;
  cursor: pointer;
}

.icone__h--empty {
  @include flex-as-jc-center;
  color: $color-black;
  font-size: 3rem;
  z-index: 10;
}

.icone__h--full {
  width: 50px;
  @include flex-as-jc-center;
  font-size: 2.6rem;
  position: relative;
  top: 28px;
  right: 15px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0);
  transition: all 400ms;
}

// HOVER HEART (FILL)

.icones__heart:active > .fas.fa-heart {
  opacity: 1;
  transform: scale(1);
}

// 1.4 BETWEEN ENTREES AND PLATS, AND PLATS AND DESSERTS

.inter-meal {
  padding-top: 45px;
}

// 2.0 PICTURE

.container__logo-picture {
  width: auto;
  height: 380px;
  @include flex-c-nw;
  overflow: hidden;
  }

.fas.fa-arrow-left {
  width: $padding-bigger;
  height: $padding-bigger;
  position: relative;
  top: $padding-small *(-0.5);
  left: $padding-small;
  @include flex-jc-center;
  font-weight: $icone-weight;
  color: $color-dark;
  font-size: $font-size-secondary;
  cursor: pointer;
  z-index: 5;
}

.header__logo {
  position: relative;
  top: -60px;
  width: auto;
  @include flex-jc-center;
}

.text-transf--top {
  font-family: $font-family-secondary;
  font-size: $font-size-xl;
  color: $color-black;
}

.container__img-pages {
  width: 100%;
  height: $padding-higher *10;
}

.img-pages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 3.0 CARDS & HOVER CARDS

// 3.1 CARDS

.container__btn {
  max-width: 90%;
  margin: 0 $marg-paddg-perct-stdrt;
  cursor: pointer;
  background-color: transparent;
}

.btn__direction {
  @include flex-r-nw;
}

.btn__food {
  width: 100%;
  height: $card-height;
  @include flex-r-nw;
  padding: $padding-gap-normal 0 $padding-gap-normal 0;
  border: none;
  border-radius: 18px;
  margin: 0;
  border-color: transparent;
  box-shadow: 0px 6px $padding-small $light-grey;
  background-color: $color-white;
  cursor: pointer;
  overflow: hidden;
}

.fas.fa-check-circle {
  display: inline-block;
  font-size: 27px;
  padding-top: 32px;
  color: $color-white;
  background-color: $color-tertiary;
  border-radius: 0 18px 18px 0;
}

// CARDS APPARITION

.appear--first {
  animation: apparition 1000ms linear 280ms both;
}

.appear--second {
  animation: apparition 1000ms linear 560ms both;
}

.appear--third {
  animation: apparition 1000ms linear 840ms both;
}

.appear--forth {
  animation: apparition 1000ms linear 1120ms both;
}

@keyframes apparition {
  0% {
    transform: translateY(3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// STRUCTURE FOR EACH CARD

// 1ST BLOCK IN ROW : TEXTS

.btn__food__text {
  width: 80%;
  @include flex-c-nw;
  justify-content: center;
  padding-left: 3%;
  gap: 9px;
  overflow: hidden;
}

// 2ND BLOCK IN ROW : PRICE ANIMATION

.price__anim {
  margin: $padding-gap-normal $padding-gap-normal $padding-gap-normal auto;
  @include flex-ai-center;
  transition: all 500ms;
}

.price__anim__amount {
  height: $card-height;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: $weight-bold;
  padding-top: 35px;
}

// 3RD BLOCK IN ROW : BAND ANIMATION

.container__band__anim {
  width: 20%;
  height: $card-height;
  position: relative;
  top: -20px;
  @include flex-jc-center;
  position: relative;
  border-radius: 0 18px 18px 0;
  background-color: $color-tertiary;
  overflow: hidden;
  margin-right: -20%;
  transform-origin: right;
  transition: all 500ms ease-in-out;
}

.band__anim__check {
  height: $card-height;
  position: relative;
  @include flex-jc-center;
  border-radius: 0 18px 18px 0;
  background-color: $color-tertiary;
  transform: rotate(0turn);
  transition: all 500ms ease-in-out;
}

// 3.2 TOUCH CARDS

/* MAKES COME THE GREEN BAND */

.container__btn:active > .btn__food > .container__band__anim {
  margin-right: 0;
}

/*  MAKES ROTATE 360° THE V-CHECKER */

.container__btn:active > .btn__food > .container__band__anim > .band__anim__check {
  transform: rotate(1turn);
}

// 4.0 BUTTON TO ORDER ( & BUTTON ANIMATION )

.btn__first {
  width: 50%;
  min-width: $padding-bigger *3;
  max-width: $padding-bigger *6;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-gap-normal 0;
  border: none;
  border-radius: 38px;
  margin: $padding-bigger auto $padding-gap-normal auto;
  border-color: transparent;
  box-shadow: 0px 6px $padding-small $light-grey;
  background: linear-gradient(175deg, $color-secondary, $color-primary ),
              linear-gradient(-5deg, $color-secondary, $color-primary);
  cursor: pointer;
  &:active {
    opacity: 0.85;
    box-shadow: 0px 6px $padding-small $darkest-grey;
  }
}

// 4.1 TEXT INSIDE THE BUTTON

.btn__explo--color {
  display: inline-block;
  color: $color-white;
  padding: 0 3%;
  font-size: 2.1rem;
  font-weight: $weight-thin;
}

// 5.0 TYPO

/* TYPO h1 TO h4 */

// 5.1 TITLE

nav > div > h1 {
  margin-left: 2%;
  font-family: "Shrikhand", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: $weight-normal;
}

// 5.2 STARTERS | MAINS | DESSERTS

nav > section > h2 {
  width: $padding-bigger;
  height: $padding-higher;
  margin-left: 4%;
  padding-bottom: $padding-higher;
  border-bottom: 4px solid $color-tertiary;
  font-size: $font-size-inter-sec-ter;
  font-weight: $weight-thin;
}

// 5.3 MEAL NAMES

section > div > div > div > h3 {
  width: 100%;
  height: 22px;
  @include ellipsis-module;
  font-size: $font-size-secondary;
  font-weight: $weight-bold;
}

// 5.4 MEAL DETAILS

section > div > div > div > h4 {
  width: 100%;
  height: 19px;
  @include ellipsis-module;
  font-size: $font-size-tertiary;
  font-weight: $weight-thin;
}

// 6.0 FOOTER

// 6.1 CONTAINER FOR ALL THE FOOTER

footer {
  height: auto;
  padding-left: $marg-paddg-perct-stdrt;
  background: $color-dark;
}

// 6.2 LOGO

.text-transf--bott {
  padding: $padding-gap-normal 0;
  font-family: $font-family-secondary;
  font-size: $font-size-tertiary;
  color: $color-white;
}

// 6.3 FOOTER LINKS

footer > nav > ul {
  @include flex-c-nw;
  padding-bottom: $padding-higher;
}

// 6.4 SPACE BETWEEN EACH LINK

.nav__link {
  padding: 5px 0;
}

// 6.5 ALIGN ICONE WITH TEXT

.flex-r-nw {
  @include flex-r-nw;
}

// 6.6 FOOTER ICONS

.fas.fa-utensils {
  width: $icone-width-small;
  height: $padding-gap-normal;
  @include flex-as-jc-center;
  font-weight: $icone-weight;
  font-size: $font-size-quaternary;
  background-color: $color-dark;
  color: $color-white;
}

.fas.fa-hands-helping {
  width: $icone-width-small;
  height: $padding-gap-normal;
  @include flex-as-jc-center;
  font-size: $font-size-quaternary;
  font-weight: $icone-weight;
  background-color: $color-dark;
  color: $color-white;
}

// 6.7 FOOTER TEXT

.footer__text--color {
  font-size: $font-size-quaternary;
  color: $color-white;
}

.text--length {
  padding-left: $padding-small;
  font-size: $font-size-quaternary;
}

//////////////
////TABLET////
//////////////

@media screen and (min-width: 768px) {
//  TABLET ( 768px to 992px )

// HEADER TABLET

// MAIN TABLET

.layout__text-heart {
  max-width: 2560px;
}

// FOOTER TABLET

/* CONTAINER FOR ALL THE FOOTER */

footer {
  @include flex-c-nw;
  padding-left: 0;
  align-items: center;
}

/* LOGO */

.text-transf--bott {
  @include flex-jc-center;
  font-size: $font-size-x;
}

/* CONTAINER FOR ALL THE LINKS */

footer > nav > ul {
  @include flex-c-nw;
  align-items: center;
}

}

///////////////
////DESKTOP////
//////////////

@media screen and (min-width: 992px) {

// HEADER DESKTOP

// MAIN DESKTOP

/* TITLE + HEART */

.icones__heart {
  margin: 0 $padding-gap-normal;
}

/* HOVER HEART (FILL) */

.icones__heart:hover > .fas.fa-heart {
  opacity: 1;
  transform: scale(1);
}

/* BLOCK UNDER THE TITLE */

.group__direction {
  @include flex-ai-center;
}

/* SUB-TITLES */

nav > section > h2 {
  margin-left: 0;
  @include flex-jc-center;
}

.container__btn {
  width: 65%;
}

.btn__first:hover {
  opacity: 0.85;
  box-shadow: 0px 6px $padding-small $darkest-grey;
}

/* TOUCH CARDS */

/* MAKES COME THE GREEN BAND */

.container__btn:hover > .btn__food > .container__band__anim {
  margin-right: 0;
}

/*  MAKES ROTATE 360° THE V-CHECKER */

.container__btn:hover > .btn__food > .container__band__anim > .band__anim__check {
  transform: rotate(1turn);
}

// FOOTER DESKTOP

/* CONTAINER FOR ALL THE FOOTER */

footer {
  width: 100%;
}

/* LOGO */

.text-transf--bott {
  font-size: $font-size-xl;
}

/* CONTAINER FOR ALL THE LINKS */

footer > nav > ul {
  @include flex-r-nw;
  gap: 175px;
  padding-right: 75px;
  padding-bottom: $padding-big;
}

}
