


@import '../abstract/index';

// Page 1 "La Palette du goût"

// 1.0 LAYOUT

// 1.1 MAIN LAYOUT

* {
  font-size: 100%;
}

body {
  font-family: "Roboto", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  background-color: $lightest-grey;
}

.cont__palette {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
}

.palette {
  position:relative;
  top: -53px;
  border-radius: 50px;
  background-color: $lightest-grey;
  // z-index: 10;
}

nav {
  display: flex;
  flex-flow: column nowrap;
}

.group__direction {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}

.line__direction {
  display: flex;
  flex-flow: row nowrap;
}

.footer__line__direction {
  display: flex;
  flex-flow: column nowrap;
}

// 1.? LOGO LAYOUT

.header {
  height: 80px;
  padding: 25px 0 10px 0;
}

// 1.2 TITLE LAYOUT

.layout__text-heart {
  min-width: 240px;
  max-width: 380px;
  display: flex;
  justify-content: center;
  padding: 50px 0 30px 0;
}

.far.fa-heart {
  width: $icone-width-large;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  color: $color-black;
  background-color: $lightest-grey;
  font-size: $font-size-x;
  padding-left: 140%;
}

// 1.3 BETWEEN ENTREES AND PLATS, AND PLATS AND DESSERTS

.inter-meal {
  padding-top: 45px;
}

// 2.0 PICTURE

.cont__logo-picture {
  width: auto;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  }

.fas.fa-arrow-left {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 30px;
  display: flex;
  justify-content: center;
  font-weight: $icone-weight;
  color: $color-dark;
  font-size: $font-size-secondary;
}

.header__logo {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
}

.logo__big {
  width: 46%;
  height: 70%;
  border-radius: 0;
}

.cont__img-pages {
  width: 100%;
  height: 300px;
}

.img-pages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 3.0 BUTTONS

// Cards buttons & Checker buttons

.container__btn {
  max-width: 90%;
  margin: 0 5%;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
}

.btn__direction {
  display: flex;
  flex-flow: row nowrap;
}

.btn__food {
    width: 80%; // use 93.5% or px or auto for j-c:strecth
    height: $card-height;
    display: flex;
    flex-flow: row nowrap;
    padding: $padding-gap-normal 0 $padding-gap-normal 0;
    border: none;
    border-radius: 18px;
    margin: 0;
    border-color: transparent;
    box-shadow: 0px 6px 10px $light-grey;
    background-color: $color-white;
    cursor: pointer;
    overflow: hidden;
    z-index: 30;
}



.fas.fa-check-circle {
  display: inline-block;
  font-size: 27px;
  padding-top: 32px;
  color: $color-white;
  background-color: $color-tertiary;
  border-radius: 0 18px 18px 0;

}

// Real button to book

.btn__first {
  width: 50%;
  min-width: 150px;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-gap-normal 0;
  border: none;
  border-radius: 38px;
  margin: 50px auto 20px auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px $light-grey;
  background: linear-gradient(175deg, $color-secondary, $color-primary ),
              linear-gradient(-5deg, $color-secondary, $color-primary);
  cursor: pointer;
}

.btn__explo--color {
  color: $color-white;
  padding: 0 3%;
  font-size: 2.1rem;
  font-weight: 400;
}

// Two childs in .btn__food ... now only one child .btn__food__text

.btn__food__text {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 3%;
  gap: 10px;
  overflow: hidden;
  z-index: 30;
}

// About price animation

.price__anim {
  margin: 20px 20px 20px auto;
  display: flex;
  align-items: center;
  transition: all 500ms;
  z-index: 50;
}

.price__anim__amount {
  height: $card-height;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 35px;
}

// About band animation

.container__band__anim {
  width: 20%;
  height: $card-height;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0 18px 18px 0;
  background-color: $color-tertiary;
  margin-right: -205px;
  transform-origin: right;
  transition: all 500ms;
  z-index: 50;
}

// .band__anim {
//   width: 100%;
//   height: $card-height;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   border-radius: 0 18px 18px 0;
//   background-color: $color-tertiary;
//   transition: transform 500ms;
// }

.band__anim__check {
  height: $card-height;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  background-color: $color-tertiary;
  transition: all 500ms;
}

// .container__btn {
//     &:hover {
//         & + .container__band__anim {
//           transform: scaleX(1)  translate(385%, -120%);
//           & > .band__anim > .band__anim__check {
//             transform: rotate(1turn);
//           }
//         }
//     }
//   }



// @keyframes green__bar {
//   0% {
//     transform: scale(0, 0);
//   }
//   1% {
//     transform: scaleY(0.8);
//     animation-duration: 50ms;
//   }
//   2% {
//     transform: scaleY(0.86);
//     animation-duration: 50ms;
//   }
//   3% {
//     transform: scaleY(0.925);
//     animation-duration: 50ms;
//   }
//   4% {
//     transform: scaleY(0.96);
//     animation-duration: 50ms;
//   }
//   5% {
//     transform: scaleY(0.98);
//     animation-duration: 300ms;
//   }
//   6% , 100% {
//     transform: scale(1, 1);
//   }
// }

// About animation

// Hover elements

.container__btn:hover > .btn__food > .container__band__anim {
  margin-right: 0;
}

.container__btn:hover > .btn__food > .container__band__anim > .band__anim > .band__anim__check {
    transform: rotate(1turn);
}

  .container__btn > .btn__food {
    &:hover {
      & > .price__anim {
        transform: translate(0, 0);
        // margin-left: -307px;
      }
    }
  }


// band__anim__check = vright à faire tourner

// 4.0 TYPO
// Typo h1 h2 h3 h4

nav > div > h1 {
  font-family: "Shrikhand", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

nav > ul > h2 {
  width: 50px;
  height: 30px;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 4px solid $color-tertiary;
  width: 50px;
  margin-left: 4%;
}

li > div > h3 {
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.2rem;
  font-weight: 700;
}

li > div > h4 {
  // width: clamp (200px, 52vw, 1440px);
  width: 100%;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 400;
}

// 5.0 FOOTER

footer {
  height: auto;
  padding-left: 5%;
  background: $color-dark;
}

.text-transf {
  font-family: $font-family-secondary;
  font-size: $font-size-tertiary;
  color: $color-white;
  padding: 20px 0;
}

ul {
  display: flex;
  flex-flow: column nowrap;
}

.nav__link {
  padding: 5px 0;
}

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

.fas.fa-utensils {
  width: $icone-width-small;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: $icone-weight;
  color: $color-white;
  background-color: $color-dark;
  font-size: $font-size-quaternary;
}

.fas.fa-hands-helping {
  width: $icone-width-small;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: $icone-weight;
  color: $color-white;
  background-color: $color-dark;
  font-size: $font-size-quaternary;
}

.footer__text--color {
  color: $color-white;
  font-size: $font-size-quaternary;
}

.text--length {
  padding-left: $padding-small;
  font-size: $font-size-quaternary;
}
