@charset "UTF-8";
@forward 'color';
@forward 'reset';
@forward 'size';
@forward 'typography';
@forward 'mixin';
body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: #fff; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

article {
  display: flex;
  align-items: flex-end;
  background-color: white; }

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column; }

b {
  font-weight: bold; }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: ""; }

button {
  margin: 0;
  padding: 0; }

div,
section,
header {
  text-decoration: none; }

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none; }

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white; }

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none; }

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

p::first-letter {
  font-style: unset; }

section {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: #fff; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

article {
  display: flex;
  align-items: flex-end;
  background-color: white; }

article,
details,
hgroup,
menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: block;
  flex-direction: column; }

b {
  font-weight: bold; }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: ""; }

button {
  margin: 0;
  padding: 0; }

div,
section,
header {
  text-decoration: none; }

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none; }

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white; }

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none; }

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

p::first-letter {
  font-style: unset; }

section {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none; }

* {
  font-size: 100%; }

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap; }

.container__menu {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  display: flex;
  flex-flow: column nowrap; }

.menu {
  position: relative;
  top: -57px;
  border-radius: 50px;
  background-color: #eeeeee; }

nav {
  display: flex;
  flex-flow: column nowrap; }

.group__direction {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px; }

.line__direction {
  display: flex;
  flex-flow: row nowrap; }

.footer__line__direction {
  display: flex;
  flex-flow: column nowrap; }

.header {
  height: 65px;
  padding-top: 30px; }

.layout__text-heart {
  min-width: 240px;
  max-width: 380px;
  display: flex;
  justify-content: center;
  padding: 50px 0 30px 0; }

.icones__heart {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: -25px;
  left: 0;
  margin: 0 5%;
  cursor: pointer; }

.icone__h--empty {
  display: flex;
  align-self: center;
  justify-content: center;
  color: black;
  font-size: 3rem;
  z-index: 10; }

.icone__h--full {
  width: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 2.6rem;
  position: relative;
  top: 28px;
  right: 15px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0);
  transition: all 400ms; }

.icones__heart:active > .fas.fa-heart {
  opacity: 1;
  transform: scale(1); }

.inter-meal {
  padding-top: 45px; }

.container__logo-picture {
  width: auto;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden; }

.fas.fa-arrow-left {
  width: 50px;
  height: 50px;
  position: relative;
  top: -5px;
  left: 10px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: #404040;
  font-size: 2.2rem;
  cursor: pointer;
  z-index: 5; }

.header__logo {
  position: relative;
  top: -60px;
  width: auto;
  display: flex;
  justify-content: center; }

.text-transf--top {
  font-family: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 3.2rem;
  color: black; }

.container__img-pages {
  width: 100%;
  height: 300px; }

.img-pages {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container__btn {
  max-width: 90%;
  margin: 0 5%;
  cursor: pointer;
  background-color: transparent; }

.btn__direction {
  display: flex;
  flex-flow: row nowrap; }

.btn__food {
  width: 100%;
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 0 20px 0;
  border: none;
  border-radius: 18px;
  margin: 0;
  border-color: transparent;
  box-shadow: 0px 6px 10px #dddddd;
  background-color: white;
  cursor: pointer;
  overflow: hidden; }

.fas.fa-check-circle {
  display: inline-block;
  font-size: 27px;
  padding-top: 32px;
  color: white;
  background-color: #99e2d0;
  border-radius: 0 18px 18px 0; }

.appear--first {
  animation: apparition 1000ms linear 280ms both; }

.appear--second {
  animation: apparition 1000ms linear 560ms both; }

.appear--third {
  animation: apparition 1000ms linear 840ms both; }

.appear--forth {
  animation: apparition 1000ms linear 1120ms both; }

@keyframes apparition {
  0% {
    transform: translateY(3vh);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.btn__food__text {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 3%;
  gap: 9px;
  overflow: hidden; }

.price__anim {
  margin: 20px 20px 20px auto;
  display: flex;
  align-items: center;
  transition: all 500ms; }

.price__anim__amount {
  height: 90px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 35px; }

.container__band__anim {
  width: 20%;
  height: 90px;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0 18px 18px 0;
  background-color: #99e2d0;
  overflow: hidden;
  margin-right: -20%;
  transform-origin: right;
  transition: all 500ms ease-in-out; }

.band__anim__check {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  background-color: #99e2d0;
  transform: rotate(0turn);
  transition: all 500ms ease-in-out; }

/* MAKES COME THE GREEN BAND */
.container__btn:active > .btn__food > .container__band__anim {
  margin-right: 0; }

/*  MAKES ROTATE 360° THE V-CHECKER */
.container__btn:active > .btn__food > .container__band__anim > .band__anim__check {
  transform: rotate(1turn); }

.btn__first {
  width: 50%;
  min-width: 150px;
  max-width: 300px;
  height: 65px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0;
  border: none;
  border-radius: 38px;
  margin: 50px auto 20px auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px #dddddd;
  background: linear-gradient(175deg, #ff79da, #9356dc), linear-gradient(-5deg, #ff79da, #9356dc);
  cursor: pointer; }
  .btn__first:active {
    opacity: 0.85;
    box-shadow: 0px 6px 10px #aaaaaa; }

.btn__explo--color {
  display: inline-block;
  color: white;
  padding: 0 3%;
  font-size: 2.1rem;
  font-weight: 400; }

/* TYPO h1 TO h4 */
nav > div > h1 {
  margin-left: 2%;
  font-family: "Shrikhand", Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 500; }

nav > section > h2 {
  width: 50px;
  height: 30px;
  margin-left: 4%;
  padding-bottom: 30px;
  border-bottom: 4px solid #99e2d0;
  font-size: 2rem;
  font-weight: 400; }

section > div > div > div > h3 {
  width: 100%;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.2rem;
  font-weight: 700; }

section > div > div > div > h4 {
  width: 100%;
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 400; }

footer {
  height: auto;
  padding-left: 5%;
  background: #404040; }

.text-transf--bott {
  padding: 20px 0;
  font-family: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
  font-size: 1.8rem;
  color: white; }

footer > nav > ul {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 30px; }

.nav__link {
  padding: 5px 0; }

.flex-r-nw {
  display: flex;
  flex-flow: row nowrap; }

.fas.fa-utensils {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.6rem;
  background-color: #404040;
  color: white; }

.fas.fa-hands-helping {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: #404040;
  color: white; }

.footer__text--color {
  font-size: 1.6rem;
  color: white; }

.text--length {
  padding-left: 10px;
  font-size: 1.6rem; }

@media screen and (min-width: 768px) {
  .layout__text-heart {
    max-width: 2560px; }

  /* CONTAINER FOR ALL THE FOOTER */
  footer {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 0;
    align-items: center; }

  /* LOGO */
  .text-transf--bott {
    display: flex;
    justify-content: center;
    font-size: 2.8rem; }

  /* CONTAINER FOR ALL THE LINKS */
  footer > nav > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; } }
@media screen and (min-width: 992px) {
  /* TITLE + HEART */
  .icones__heart {
    margin: 0 20px; }

  /* HOVER HEART (FILL) */
  .icones__heart:hover > .fas.fa-heart {
    opacity: 1;
    transform: scale(1); }

  /* BLOCK UNDER THE TITLE */
  .group__direction {
    display: flex;
    align-items: center; }

  /* SUB-TITLES */
  nav > section > h2 {
    margin-left: 0;
    display: flex;
    justify-content: center; }

  .container__btn {
    width: 65%; }

  .btn__first:hover {
    opacity: 0.85;
    box-shadow: 0px 6px 10px #aaaaaa; }

  /* TOUCH CARDS */
  /* MAKES COME THE GREEN BAND */
  .container__btn:hover > .btn__food > .container__band__anim {
    margin-right: 0; }

  /*  MAKES ROTATE 360° THE V-CHECKER */
  .container__btn:hover > .btn__food > .container__band__anim > .band__anim__check {
    transform: rotate(1turn); }

  /* CONTAINER FOR ALL THE FOOTER */
  footer {
    width: 100%; }

  /* LOGO */
  .text-transf--bott {
    font-size: 3.2rem; }

  /* CONTAINER FOR ALL THE LINKS */
  footer > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 175px;
    padding-right: 75px;
    padding-bottom: 40px; } }

/*# sourceMappingURL=menu.css.map */
