


@import '../abstract';

// BEM Specifics

body {
  font-family: $font-family-primary;
  color: $colour-primary;
  font-size: $font-size-primary;
}

// 2.2 | HEADING: LOGO

.logo__big {
  width: 41%;
  border-radius: 0;
}

// 2.3 | HEADING : SEARCH

#location {
  font-size: $font-size-primary;
}

// 2.4 | HEADING : EXPLORE

.btn__first {
  width: 60%;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $padding-normal 0 $padding-normal 0;
  border: none;
  border-radius: 38px;
  margin: 0 auto;
  border-color: transparent;
  box-shadow: 0px 6px 10px #dddddd;
  background: linear-gradient(175deg, #FF79DA, #9356DC ),
              linear-gradient(-5deg, #FF79DA, #9356DC);
}
    
  // 2.5 | HEADING : FUNCTIONING
    
.heading__second {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
    }
    
.heading__second__title {
  padding: $padding-big 0 20px 0;
  font-size: 25px;
  /* font-size: $font-size-primary; */
}
    
.heading__second__functioning {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 30px;
    }
    
.functioning__btn {
      width: 100%;
      height: 60px;
      /* background-color: #eeeeee; */
      border: none;
      border-radius: 17px;
      display: flex;
      align-items: center;
    }
    
.functioning__btn--lighten {
      width: 100%;
      height: 60px;
      background-color: rgba(147,86,220, .1);
      /* Pour scss écrire : background-color: lighten(rgba(147,86,220,1),10%) */
      border: none;
      border-radius: 17px;
      display: flex;
      align-items: center;
    }
    

// MAIN
// FIGCAPTIONS
// Position of the text and icones in the cards

.text__position {
  width: 75%;
  display: block;
  &__bold {
    font-size: $font-size-tertiary;
  }
  &__thin {
    font-size: $font-size-quaternary;
  /*  font-weight: ;*/
  }
}

.icone__position {
  width: 15%;
  display: block;
}

// 2.2.1 | FOOTER

// Img logo of footer

.logo__little {
  width: 28%;
  border-radius: 0;
  padding: 30px 0;
  color: #fff;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*.icone--length {
}*/

ul {
  padding-bottom: $padding-big;
}

// Position and color of text
.text--length {
  padding-left: $padding-small;
}

.footer__text--color {
  color: #fff;
}
