


@import '../abstract';

// Sticker on card

// Pb in this class, is it a fallback?
.card__sticker__over {
  width: 23%;
  position: relative;
  top: -90px;
  left: 265px;
  color: green;
  font-family: $font-family-primary;
  font-size: $font-size-tertiary;
  background-color: $color-tertiary;
  background-color: darken($color-tertiary,50%);
  // background-color: rgba(153,226,208, 1.5);
}
