


@use 'components';
@use 'layout';
@use 'pages';
@use 'utils';

// tests à effacer

$colours: (
  mint: #15DEA5,
  navy: #001534,
  seafoam: #D6FFF5,
  white: #fff,
  rust: #DB464B
);

// fin du test à effacer

// Standards

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-dark: #404040;
$color-white: #fff;
$color-black: #000;

$lightest-grey: #eeeeee;
$light-grey: #dddddd;
$mid-grey: #cccccc;
$darkest-grey: #aaaaaa;

$icone-width-large: 50px;
$icone-width-small: 20px;

$padding-small: 10px;
$padding-normal: 20px;
$padding-big: 40px;

$icone-weight: 900;
