
// Standards

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-dark: #404040;
$color-white: #fff;
$color-black: #000;

$lightest-grey: #eeeeee;
$light-grey: #dddddd;
$mid-grey: #cccccc;
$darkest-grey: #aaaaaa;

$icone-width-large: 50px;
$icone-width-small: 20px;

$padding-small: 10px;
$padding-normal: 20px;
$padding-big: 40px;

$icone-weight: 900;
