
// Standards

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-dark: #404040;
$color-white: #fff;
$color-black: #000;

$icone-width-large: 50px;
$icone-width-small: 20px;
