

// FONTS

$font-family-primary: "Roboto", sans-serif, Arial, "Arial Black", Courier New, Helvetica, sans-serif;
// Titre des restaurants en Shrikhand=>
$font-family-secondary: "Shrikhand", serif, Arial, "Arial Black", Courier New, Helvetica, sans-serif;

$font-size-primary: 2.5rem;
$font-size-secondary: 2.2rem;
$font-size-tertiary: 1.8rem;
$font-size-quaternary: 1.6rem;

body {
    font-family: $font-family-primary;
    color: $colour-primary;
    font-size: $font-size-primary;
}