

// FONTS

$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Shrikhand", serif;

$font-size-primary: 25px;
$font-size-secondary: 22px;
$font-size-tertiary: 18px;
$font-size-quaternary: 16px;

body {
    font-family: $font-family-primary;
    color: $colour-primary;
    font-size: $font-size-primary;
}