


$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);

$color-dark: rgb(64, 64, 64);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$lightest-grey: rgb(238, 238, 238);
$light-grey: rgb(221, 221, 221);
$mid-grey: rgb(204, 204, 204);
$darkest-grey: rgb(170, 170, 170);