


@import './color';
@import './size';
@import './typography';
@import './reset';

// Mixins

@mixin flex-jc-center {
  display: flex;
  justify-content: center;
}

@mixin flex-ai-center {
  display: flex;
  align-items: center;
}

@mixin flex-ac-jc-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin flex-as-jc-center {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin ellipsis-module {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin width-height-full {
  width: 100%;
  height: 100%;
}
