


@import './color';
@import './size';
@import './typography';
@import './reset';

// Mixins

// FLEX

  // FLEX: FLEX-FLOW

@mixin flex-c-nw {
  display: flex;
  flex-flow: column nowrap;
}

@mixin flex-r-nw {
  display: flex;
  flex-flow: row nowrap;
}

  // FLEX: POSITIONNING

@mixin flex-jc-center {
  display: flex;
  justify-content: center;
}

@mixin flex-ai-center {
  display: flex;
  align-items: center;
}

@mixin flex-ac-jc-center {
  display: flex;
  align-content: center;
  justify-content: center;
}

@mixin flex-as-jc-center {
  display: flex;
  align-self: center;
  justify-content: center;
}

// OTHERS

  // MANAGE OVERFLOW TEXT

@mixin ellipsis-module {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  // SIZE CONTAINERS OR ELEMENTS

@mixin width-height-full {
  width: 100%;
  height: 100%;
}
