


@import './color';
@import './size';
@import './typography';
@import './reset';

// Mixins

@mixin flex-jc-center {
  display: flex;
  justify-content: center;
}

@mixin flex-as-jc-center {
  display: flex;
  align-self: center;
  justify-content: center;
}

@mixin ellipsis-module {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}