


@import './typography';

// BASE & RESET \\

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }
  
article {
  display: flex;
  align-items: flex-end;
  background-color: white;
}

article,
details,
hgroup,
menu {
display: flex;
margin: 0;
padding: 0;
display: block;
flex-direction: column;
}

b {
  font-weight: bold;
  }

blockquote,
q {
  margin: 0;
  padding: 0;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  margin: 0;
  padding: 0;
  content: "";
  content: none;
  content: "";
}

button {
  margin: 0;
  padding: 0;
}

div,
section,
header {
  text-decoration: none;
}

form,
input {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

p::first-letter {
  font-style: unset;
}

section {
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style-type: none;
}
