


// SIZES \\

/* ICON SIZES */

$icone-width-large: 50px;
$icone-width-small: 20px;

/* PADDINGS AND OTHER SIZES */

$padding-small: 10px;
$padding-gap-normal: 20px;
$padding-higher: 30px;
$padding-big: 40px;
$padding-bigger: 50px;

/* SETTING HEIGHT CARDS */

$card-height: 90px;

/* GENERAL MARGIN/PADDING FROM THE EDGES */

$marg-paddg-perct-stdrt: 5%;

/* GENERAL BORDER-RADIUS */

$bord-rad-stdrt: 17px;
