


// FONTS

$font-family-primary: "Roboto", sans-serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;
// Titre des restaurants en Shrikhand=>
$font-family-secondary: "Shrikhand", serif, Arial, "Arial Black", "Courier New", Helvetica, sans-serif;

$font-size-xl: 3.2rem;
$font-size-primary: 2.5rem;
$font-family-inter-prim-sec: 2.4rem;
$font-size-secondary: 2.2rem;
$font-size-inter-sec-ter: 2rem;
$font-size-tertiary: 1.8rem;
$font-size-quaternary: 1.6rem;

$icone-weight: 900;
$weight-thin: 400;
$weight-thiner: 300;
